@import "../../../../vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

.fi-btn {
    @apply px-4 rounded-md focus:ring-2;
}

.fi-header-heading {
    @apply font-semibold text-primary-800 dark:text-primary-200;
}

.fi-icon-btn-icon {
    @apply text-primary-800 dark:text-primary-200;
}

.fi-input-wrp {
    @apply rounded-md;
}

.fi-body {
    @apply bg-white dark:bg-gray-800;
}

/* Modal Styles */
.fi-modal-window {
    @apply border rounded-md shadow-2xl border-primary-200/50 dark:border-gray-700;

    .fi-modal-header {
        @apply p-4 border-b bg-primary-50 dark:bg-gray-700 border-primary-200 dark:border-gray-600 rounded-t-md;
    }

    .fi-modal-footer {
        @apply p-4 mt-0 border-t bg-primary-50 dark:bg-gray-700 border-primary-200 dark:border-gray-600;
    }
}

.fi-no-notification {
    @apply rounded-md shadow-sm bg-primary-50 dark:bg-gray-700 text-primary-800 dark:text-primary-200;
}

/* Slide-over Modal */
.fi-modal-slide-over-window {
    @apply overflow-y-auto transition-all duration-200 bg-white border dark:bg-gray-800 border-primary-200/50 dark:border-gray-700 ring-1 ring-inset ring-primary-300/40 dark:ring-gray-600/40;

    .fi-modal-header {
        @apply p-4 border-b bg-primary-50 dark:bg-gray-700 border-primary-200 dark:border-gray-600 rounded-t-md;
    }
}

/* Sidebar Styles */
.fi-sidebar {
    @apply transition-all duration-700 ease-in-out;
}

.fi-sidebar-header,
.fi-sidebar-nav {
    @apply border-r border-primary-300 dark:border-gray-700;
}

.fi-sidebar-header {
    @apply z-10 border-b shadow-none bg-primary-50 dark:bg-gray-800 ring-0 border-primary-300 dark:border-gray-700;
}

.fi-sidebar-nav {
    @apply bg-primary-50 dark:bg-gray-800;
    scrollbar-gutter: unset !important;

    ul.fi-sidebar-nav-groups {
        @apply gap-y-4;

        span.fi-sidebar-group-label {
            @apply p-0 pb-0 text-xs font-semibold text-primary-700 dark:text-primary-300;
        }
    }
}

.fi-sidebar-item-icon {
    @apply text-primary-800 dark:text-primary-200;
}

.fi-sidebar-item {
    .fi-sidebar-item-button {
        @apply hover:bg-primary-100 dark:hover:bg-gray-700 focus:bg-primary-100 dark:focus:bg-gray-700 active:bg-primary-100 dark:active:bg-gray-700;
    }
}

.fi-active .fi-sidebar-item-active {
    .fi-sidebar-item-button {
        @apply bg-primary-200 dark:bg-gray-700 text-primary-500 dark:text-primary-300;
    }
}

/* Table & Toolbar Styles */
.fi-ta-ctn {
    @apply bg-white border-b rounded-lg shadow-none dark:bg-gray-800 ring-0 dark:border-gray-700;
}

.fi-ta-table thead tr {
    @apply border-b bg-primary-100 dark:bg-gray-700 border-primary-200 dark:border-gray-600;
}

.fi-ta-header-toolbar {
    @apply mb-2 border rounded-lg bg-primary-100 dark:bg-gray-700 border-primary-200 dark:border-gray-600;
}

.fi-ta-content {
    @apply bg-white border rounded-t-lg dark:bg-gray-800 dark:border-gray-700 ring-0;
}

.fi-ta-empty-state {
    @apply p-4 border rounded-lg shadow-sm border-primary-200 dark:border-gray-700 bg-primary-50 dark:bg-gray-800 text-primary-800 dark:text-primary-200;
}

.fi-ta-pagination {
    @apply flex items-center justify-between p-4 bg-white border rounded-b-lg dark:bg-gray-800 border-primary-200 dark:border-gray-700;
}

.fi-ta-filter-indicators {
    @apply p-2 mb-3 border rounded-md bg-primary-100 dark:bg-gray-700 ring-0;
}

/* Topbar */
.fi-topbar {
    nav {
        @apply border-b shadow-none bg-primary-50 dark:bg-gray-800 ring-0 border-primary-300 dark:border-gray-700;
    }
}
