model-viewer[ar-tracking="not-tracking"] > #ar-failure {
    height: 100vh;
    width: 100vw;
    box-shadow: inset 0 0 30px 10px rgba(255, 0, 0, 0.8);
}

#ar-status-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.75);
    padding: 1rem;
    border-radius: 12px;
    z-index: 100;
    width: 80vw;
    max-width: 90vw;
}

#calibration-animation {
    font-size: 3rem;
    margin-top: 1rem;
    animation: tiltPhone 2s infinite ease-in-out;
    transform-origin: center center;
    display: inline-block;
}

#dimension-label {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 0.8125rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    font-family: "Roboto Mono", monospace;
    z-index: 10;
}

@keyframes tiltPhone {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}
