.fi-modal-window {
    @apply rounded-md shadow-2xl border border-primary-200/50;

    .fi-modal-header {
        @apply bg-primary-50 border-b border-primary-200 rounded-t-md p-4;
    }

    .fi-modal-footer {
        @apply bg-primary-50 rounded-none border-t border-primary-200 p-4;
    }
}
