.fi-ta-ctn {
    @apply bg-white shadow-none rounded-lg ring-0 border-b;
}

.fi-ta-table thead tr {
    @apply bg-primary-100 border-b border-primary-200;
}

.fi-ta-header-toolbar {
    @apply bg-primary-100 border border-primary-200 mb-2 rounded-lg;
}

.fi-ta-content {
    @apply bg-white rounded-t-lg ring-0 border;
}

.fi-ta-pagination {
    @apply bg-white border border-primary-200 rounded-b-lg flex justify-between items-center p-4;
}

.fi-ta-filter-indicators {
    @apply bg-primary-100 !border ring-0 rounded-md p-2 mb-3;
}
