@import "../../../../vendor/filament/filament/resources/css/theme.css";

@config 'tailwind.config.js';

/* ------------------------------------------------
    Table
-------------------------------------------------- */
.fi-ta-ctn {
    @apply rounded-sm;
}

/* ------------------------------------------------
    Navigation
-------------------------------------------------- */
.fi-topbar {
    @apply bg-white border-b border-gray-200 p-2 shadow-sm;
}
.fi-topbar > nav {
    @apply mx-auto h-full w-full px-4 md:px-6 lg:px-8 max-w-7xl shadow-none ring-0;
}

.fi-active > .fi-topbar-item-button {
    @apply !rounded-sm;
}

.fi-topbar-item > .fi-topbar-item-button {
    @apply hover:!rounded-sm;
}

.fi-dropdown-panel {
    @apply rounded-sm shadow-sm;
}

/* ------------------------------------------------
    Modal
-------------------------------------------------- */
.fi-modal-close-overlay {
    @apply backdrop-blur-sm bg-gray-900/50;
}

.fi-modal-window {
    @apply rounded-sm;
}

/* ------------------------------------------------
    Wizard
-------------------------------------------------- */
.fi-fo-wizard {
    @apply rounded-sm;
}

/* ------------------------------------------------
    Repeater
-------------------------------------------------- */
.fi-fo-repeater-item {
    @apply rounded-sm;
}

/* ------------------------------------------------
    Button
-------------------------------------------------- */
.fi-btn {
    @apply rounded-sm;
}

/* ------------------------------------------------
    Input
-------------------------------------------------- */
.fi-input-wrp {
    @apply rounded-sm;
}

.fi-fo-file-upload,
.filepond--hopper {
    @apply !rounded-sm;
}

/* ------------------------------------------------
    Filepond
-------------------------------------------------- */

.filepond--panel-top,
.filepond--panel-bottom {
    @apply rounded-sm;
}

/* ------------------------------------------------
    Choices
-------------------------------------------------- */

.choices__list {
    @apply !rounded-sm;
}
