@import "../../../vendor/filament/filament/resources/css/theme.css";

/* Custom Theme for Filament */
@import "furniture-theme/misc.css";
@import "furniture-theme/topbar.css";
@import "furniture-theme/sidebar.css";
@import "furniture-theme/icon.css";
@import "furniture-theme/table.css";
@import "furniture-theme/input.css";
@import "furniture-theme/button.css";
@import "furniture-theme/modal.css";
@import "furniture-theme/notification-modal.css";
@import "furniture-theme/notification.css";
@import "furniture-theme/heading.css";

@config 'tailwind.config.js';
